*{
    background-color: white;
}

#headerIndex{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.navBar{
    display:flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background-color: purple;
    height: 10vw;
    width: auto;
}

.navBar > a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: purple;
    color: white;
}

.navBar >a:hover{
    transform: scale(1.10);
    color: pink;
}